:root {
    --main-color: #AADEAD;
    --second-color: #053308;
    --white-color: #fefefe;
    --bg-color: #F5FFED;
}

#map {
    height: 50vh;
    width: 80vw;
}

.local{
    width: 120px;
}

select {
    color: var(--second-color);
    background-color: var(--main-color);
}